.container{
    padding: 10px;
    border: 1px solid black;
    text-align: center;
}

.flex-box{
    padding: 10px;
    margin: 0px auto;
    border: 1px solid black;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.flex-box img{
    padding: 10px;
    box-shadow: 0px 10px 50px grey(0,0,0,0,7);
}
