.container-1{
    padding: 10px;
    border: 1px solid black;
    text-align: center;
}

.flex-box-1{
    display: flex;
    padding: 10px;
    margin: 0% auto;
    border: 1px solid black;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
}